@font-face {
    font-family: "Intro Lipton Regular";
    src: url("../../fonts/IntroLipton/IntroLipton-Regular.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-Regular.woff") format("woff");
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Intro Lipton Semi Bold";
    src: url("../../fonts/IntroLipton/IntroLipton-SemiBold.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-SemiBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Intro Lipton Semi Bold Caps";
    src: url("../../fonts/IntroLipton/IntroLipton-SemiBoldCaps.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-SemiBoldCaps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Intro Lipton Black";
    src: url("../../fonts/IntroLipton/IntroLipton-Black.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Intro Lipton Black Caps";
    src: url("../../fonts/IntroLipton/IntroLipton-BlackCaps.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-BlackCaps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Intro Lipton Black Inline Caps";
    src: url("../../fonts/IntroLipton/IntroLipton-BlackInlineCaps.woff2") format("woff2"),
        url("../../fonts/IntroLipton/IntroLipton-BlackInlineCaps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {   
    font-family: 'Lipton-Highlight-Clean';   
    src: url('../../fonts/LiptonHighlight/LiptonHighlight-Clean.ttf') format('truetype');   
    font-weight: 300;   
    font-style: normal;   
    font-display: swap;
}