@use '../utils/index' as *;

form {
    .webform-flexbox {
        @media(min-width: $md) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .webform-flex {
            @media(min-width: $md) {
                width: 100%;

                &:first-of-type {
                    margin-right: 20px;
                }
            }
        }
    }

    .webform-flex {
        margin-bottom: 20px;
    }

    .webform-flex .form-item {
        position: relative;

        input {
            width: 100%;
            padding: 12px 20px;
            border-radius: 5px;
            border: 1px solid $clr-primary;
            height: 48px;
            color: $clr-primary;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 16px;
            line-height: 1.5;
            background-color: transparent;

            &::placeholder {
                opacity: 0;
            }
        
            &:focus {
                border: 2px solid $clr-primary;
                outline: 0;
            }

            &.error {
                border-color: $clr-shiraz;
            }
        }

        input + label {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            line-height: 1.5;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        input.error + label {
            color: $clr-shiraz;
        }

        &:focus-within > label,
        input:not(:placeholder-shown) + label {
            left: 13px;
            background-color: $clr-white;
            padding: 0px 8px;
            pointer-events: none;  
            font-family: $fnt-intro-lipton-black;
            font-size: 12px;
            line-height: 1.5;
            top: -10px;
            transform: none;
            transition: all 0.3s ease;
        }

        label.error {
            display: block;
            color: $clr-shiraz;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 10px;
            position: relative;
            left: 10px;
        }
    }

    .js-form-type-select {
        position: relative;

        select {
            width: 100%;
            padding: 12px 20px;
            border-radius: 5px;
            border: 1px solid $clr-primary;
            height: 48px;
            color: $clr-primary;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: 16px;
            line-height: 1.5;
            background-color: transparent;
            background-image: url("../../../public/assets/img/_icn/arrow-down.svg");
            background-repeat: no-repeat;
            background-position: right 20px top 50%;
            background-size: 16px;
    
            &:focus {
                border: 2px solid $clr-primary;
                outline: 0;
            }

            &.error {
                border-color: $clr-shiraz;
            }

            option {
                background-color: $clr-white;
            }
        }

        label {
            left: 13px;
            background-color: $clr-white;
            padding: 0px 8px;
            pointer-events: none;  
            font-family: $fnt-intro-lipton-black;
            font-size: 12px;
            line-height: 1.5;
            top: -10px;
            transform: none;
            transition: all 0.3s ease;
            position: absolute;
        }

        select.error + label {
            color: $clr-shiraz;
        }
    }

    .js-form-type-checkbox {
        margin-bottom: 15px;

        input {
            display: none;

            &:checked + label:not(.form-error):after {
                content: '';
                border-bottom: 3px solid $clr-primary;
                border-right: 3px solid $clr-primary;
                transform: rotate(45deg);
                left: 10px;
                top: -1px;
                width: 8px;
                height: 15px;
                position: absolute;
            }

            &:checked + label:not(.error):before {
                border-color: $clr-primary;
            }
        }

        input.error + label::before {
            border-color: $clr-shiraz;
        }

        label:not(.error) {
            padding-left: 30px;
            position: relative;
            display: inline-block;
            font-size: 16px;
            line-height: 1.5;

            > a {
                color: $clr-primary;
                text-decoration: underline;
                font-family: $fnt-intro-lipton-semi-bold;
                transition: 0.3s ease;

                @include hover {
                    opacity: 0.6;
                }
            }

            &::before {
                content: '';
                height: 20px;
                width: 20px;
                position: absolute;
                border-radius: 5px;
                transition: all 0.2s ease;
                background-color: transparent;
                border: 1px solid $clr-primary;
                left: 0;
            }
        }

        label.error {
            display: block;
            color: $clr-shiraz;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 10px;
            position: relative;
            left: 10px;
        }
    }

    .button--primary {
        font-size: 18px;
        line-height: 1; 
        background-color: $clr-primary;
        color: $clr-white;
        padding: 16px 32px;
        border-radius: 30px;
        display: inline-flex;
        align-items: center;
        transition: opacity 0.3s ease;
        border: none;
        font-family: $fnt-intro-lipton-black-caps;
        cursor: pointer;
        padding-right: 60px;
        background-image: url("../../../public/assets/img/_icn/arrow-white-right.svg");
        background-repeat: no-repeat;
        background-position: right 33px top 50%;
        background-size: 13px;
    
        @media(max-width: $xs) {
            font-size: 16px;
        }
    
        @include hover {
            opacity: 0.8;
        }
    }

    .webform-flexbox.lipton-promo-form__submit {
        .webform-flex {
            margin: 0;

            &:first-of-type {
                margin: 0;
            }

            .webform-actions {
                display: flex;
                justify-content: center;
                margin-top: 5px;
            }
        }
    }

    .js-form-type-webform-image-file {
        margin-bottom: 20px;

        .js-hide {
            display: none;
        }

        .label-file-upload {
            font-size: 16px;
            line-height: 1.6;
            margin-top: 0;
            margin-bottom: 12px;
            display: block;
        }

        .webform-element-description {
            font-size: 12px;
            line-height: 1.6;
            color: $clr-silver;
        }

        input[type=file] {
            font-size: 16px;
            line-height: 1.6;

            @media(max-width: $xs) {
                font-size: 14px;
            }
        }

        input[type=file]::file-selector-button {
            font-family: $fnt-intro-lipton-semi-bold;
            font-size: 18px;
            color: $clr-primary;
            background: $clr-white;
            border: none;
            background: $clr-white;
            padding: 0px 32px 0px 0px;
            margin-right: 30px;
            border-radius: 10px;
            color: $clr-primary;
            cursor: pointer;
            transition: background 0.2s ease-in-out;
            background-image: url("../../../public/assets/img/_icn/upload-ico.svg");
            background-repeat: no-repeat;
            background-position: center right;
            background-position-x: right;
            background-position-y: center;
        }

        .file.file--image {
            font-size: 16px;
            line-height: 1.6;
            color: $clr-primary;

            a {
                font-size: 16px;
                line-height: 1.6;
                color: $clr-primary;
            }
        }

        .form-submit {
            border: none;
            background-color: $clr-primary;
            color: $clr-white;
            border-radius: 10px;
            padding: 5px 10px;
            margin-left: 15px;
            font-size: 16px;
            cursor: pointer;
            transition: opacity 0.3s ease;

            @include hover {
                opacity: 0.6;
            }
        }
    }

    .help-note {
        margin-top: -10px;

        p {
            font-size: 14px;
            margin-bottom: 20px;
            opacity: 0.9;
            color: $clr-burnt-sienna;
        }
    }
}