///// --- Colors --- /////

$clr-primary: #233976;
$clr-white: #FFFFFF;
$clr-silver: #BDBDBD;
$clr-sea-buckthorn: #F9B233;
$clr-chilean-fire: #EE7203;
$clr-picton-blue: #31B4E7;
$clr-shiraz: #BE0D30;
$clr-burnt-sienna: #EA6852;

///// --- Fonts --- /////

$fnt-intro-lipton-regular: "Intro Lipton Regular", sans-serif; // 450
$fnt-intro-lipton-semi-bold: "Intro Lipton Semi Bold", sans-serif; // 650
$fnt-intro-lipton-semi-bold-caps: "Intro Lipton Semi Bold Caps", sans-serif; // 650 uppercase
$fnt-intro-lipton-black: "Intro Lipton Black", sans-serif; // 800
$fnt-intro-lipton-black-caps: "Intro Lipton Black Caps", sans-serif; // 800 uppercase
$fnt-intro-lipton-black-inline-caps: "Intro Lipton Black Inline Caps", sans-serif; // 850
$fnt-lipton-highlight-clean: "Lipton-Highlight-Clean";

///// --- Breakpoints --- /////

$xs: 374px;
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$hd: 1800px;
$uw: 2200px;